<h1>Bs#index</h1>
<p>Find me in app/views/bs/index.html.erb</p>

<div class="container">
  <div class="row">
    <div class="col col-lg-3 card mx-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
    <div class="col col-lg-3 card mx-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos ut mollitia consectetur eius illum suscipit rem dignissimos, ad eaque ipsa facilis provident, repellendus vero doloremque aliquid. Eius inventore, rem vitae.</div>
    <div class="col col-lg-3 card mx-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam doloribus vero ducimus fuga, optio odio illo aspernatur ex reprehenderit incidunt cumque minima nesciunt magnam similique eligendi nobis dolorem cum voluptates.</div>
    <div class="col col-lg-3 card mx-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis eius aut error neque ipsum tenetur, natus dolorem sapiente similique rerum magni nemo labore, minima aspernatur veniam consequatur illum ratione dolor.</div>
  </div>
  <div class="row">

  </div>
</div>
